@import '../../abstracts/colorVars';
@import '../../abstracts/mixins';

.Logo {
    @include borderA;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    padding: .3rem 1rem;
    color: $color-text;
    border-radius: .5rem;
    user-select: none;
    padding-right: 1.85rem;
    transition: all .3s ease;
    position: relative;

    @include respond(500) {
        margin-right: .5rem;
    }
    
    &:hover {
        @include shadowS;
    }

    & > * {
        font-weight: 300;
        position: relative;
    }

    span:last-of-type {
        font-size: 1rem;
        position: absolute;
        top: .3rem;
    }
}