@import '../../abstracts/mixins';

.ErrorReporter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
    letter-spacing: .5px;
    opacity: .8;
    font-family: 'Raleway', sans-serif;
    
    @include respond(950) {
        height: calc(100vh - 7.5rem - 6rem);
    }
    
    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(-6rem); 

        @include respond(950) {
            transform: translateY(0);
        }
    }
    
    &__main {
        font-size: 1.85rem;
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        font-weight: 400;
        width: max-content;
        // text-align: center;

        @include respond(379) {
            width: 25rem;
        }
    }

    &__sub {
        font-size: 1.5rem;
        text-align: center;

        @include respond(379) {
            width: 25rem;
        }
    }

    &__reasons {
        margin-bottom: 1rem;
        font-size: 1.7rem;
    }
    
    ul {
        list-style: inside;
    }

    li {
        font-size: 1.55rem;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }
    
    svg {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: .5rem;

        @include respond(379) {
            width: 4rem;
            height: 4rem;
        }
    }
}